<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:c="http://www.springframework.org/schema/c"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="raw" class="com.lia.lego.bee.BrickSetRawImp">
    <property name="webHelper" ref="webHelper" />
    <property name="fileHelper" ref="fileHelper" />
    <property name="iOHelper" ref="iOHelper" />
  </bean>
  <bean id="iOHelper" class="com.lia.common.spring.IOHelper">
  </bean>
  <bean id="profile" class="com.lia.common.spring.Profile">
  </bean>
  <bean id="fileHelper" class="com.lia.common.spring.FileHelper">
  </bean>
  <bean id="webHelper" class="com.lia.common.spring.WebHelper">
  </bean>
</beans>